@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* height:90dvh; */
  height:100vh;

  /* https://www.joshwcomeau.com/gradient-generator/ */
  /* background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(281deg 100% 21%) 8%,
    hsl(304deg 100% 23%) 17%,
    hsl(319deg 100% 30%) 25%,
    hsl(329deg 100% 36%) 33%,
    hsl(336deg 100% 41%) 42%,
    hsl(346deg 83% 51%) 50%,
    hsl(3deg 95% 61%) 58%,
    hsl(17deg 100% 59%) 67%,
    hsl(30deg 100% 55%) 75%,
    hsl(40deg 100% 50%) 83%,
    hsl(48deg 100% 50%) 92%,
    hsl(55deg 100% 50%) 100%
  ); */

  background-image: linear-gradient(
    40deg,
    hsl(248deg 95% 15%) 0%,
    hsl(237deg 77% 20%) 4%,
    hsl(230deg 80% 23%) 9%,
    hsl(223deg 88% 25%) 16%,
    hsl(275deg 59% 26%) 23%,
    hsl(308deg 76% 22%) 30%,
    hsl(325deg 89% 24%) 38%,
    hsl(331deg 100% 26%) 47%,
    hsl(338deg 100% 29%) 56%,
    hsl(345deg 99% 32%) 66%,
    hsl(348deg 100% 37%) 76%,
    hsl(353deg 100% 42%) 88%,
    hsl(5deg 98% 47%) 100%
  );
}
